.CardSkeleton {
	width: 150px;
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	margin: 100px;
	padding: 10px;
	background-color: var(--skeletonLight);
	border-radius: 15px;
}

.CardSkeleton,
.CardSkeleton * {
	animation: fadeInOut 1s ease-in infinite alternate;
}

.CardSkeleton .image {
	width: 50%;
	height: 50%;
	align-self: center;
	transform: translateY(-40%) scale(1.3);
	background-color: var(--skeletonDark);
	border-radius: 10px;
}

.CardSkeleton .Id {
	width: 40px;
	height: 15px;
	background-color: var(--skeletonDark);
	border-radius: 5px;
}

.CardSkeleton .name {
	width: 100px;
	height: 20px;
	background-color: var(--skeletonDark);
	border-radius: 5px;
}

.CardSkeleton .types {
	width: 100%;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.CardSkeleton .type {
	flex: 1;
	width: 100%;
	max-width: 50px;
	height: 100%;
	background-color: var(--skeletonDark);
	border-radius: 10px;
}

@keyframes fadeInOut {
	0%,
	100% {
		opacity: 0.6;
	}
	50% {
		opacity: 1;
	}
}
