.Home {
	padding: 0 20px 10px;
}

.CardsSection {
	width: min(100%, 1000px);
	height: 100%;
	min-height: 100vh;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(30vw, 150px), 1fr));
	grid-template-rows: auto;
	gap: 40px min(5vw, 20px);
	padding-top: 30px;
	margin: 0 auto;
}
